

<!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3"><%= @user.first_name %> <%= @user.last_name %>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to "Home", root_path %>
      </li>
      <li class="breadcrumb-item active"><%= @event.title %></li>
    </ol>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <%if @event.photo.attached?%>
          <%= image_tag @event.photo, alt: 'photo event' %>
        <%else%>
          <p>=== Il n'y a pas encore de photo liée à cet event ===</p>
        <%end%>
      </div>

      <div class="col-md-4">
        <h3 class="my-3">Project Description</h3>
        <p><%= @event.description %></p>
        <h3 class="my-3">Project Details</h3>
        <ul>
          <li class="list-group-item">Title: <%= @event.title %></li>
          <li class="list-group-item">Description: <%= @event.description %></li>
          <li class="list-group-item">Nombre d'inscrits: <%= @event.users.count %></li>
          <li class="list-group-item">Date de début: <%= @event.start_date %></li>
          <li class="list-group-item">Date de fin: <%= @event.end_date %></li>
          <li class="list-group-item">Lieu: <%= @event.location %></li>
          <li class="list-group-item">Prix: <%= @event.price %></li>
        </ul>
        <% if current_user %>
          <% if current_user != @event.admin && current_user != @event.is_user_attending?(current_user) %>
            <%= link_to "Rejoindre l'évènement", new_charge_path(id: @event.id), class:"btn btn-primary" %>
          <% end %>	
          <% if current_user == @event.admin %>
            <%= link_to "Gérer mon évènement", attendances_path(id: @event.id), class:"btn btn-info"%>
            <h3>Changer de photo de couverture ?</h3>
            <%= form_tag event_photos_path(@event), multipart: true do %>
              <%= file_field_tag :photo %>
              <%= submit_tag "mettre à jour", class:"btn btn-secondary" %>
            <% end %>
          <% end %>
        <% end %>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>
</body>


